@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

main{
    padding-top: 105px;
    margin: 0 10vw 70px;
}

.tracker-info{
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    margin-top: 35px;
}

.tracker-hint{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 30px;
}

.tracker-container{
    display: flex;
    justify-content: space-between;
    &__categories{
        display: flex;
        background: #F3F5F0;
        border: 1px solid rgba(138, 147, 115, 0.7);
        border-radius: 4px;
        padding: 10px 65px 20px 15px;

        &__name{
            font-size: 25px;
        }
        &__input{
            height: 35px;
            max-width: 130px;
            text-align: center;
            padding: 0 5px;
            font-size: 25px;
            line-height: 30px;
            font-family: "Montserrat", sans-serif;
        }
        &__image{
            margin-right: 22px;
            box-shadow: 0 3px 3px rgba(0,0,0,0.25);
            border-radius: 26px;
        }
        &__inputs{
            >*{
                margin-bottom: 10px;
            }
            >*:last-child{
                margin-bottom: 0px;
            }
        }
        &__submit{
            display: flex;
            align-items: center;
            width: 0px;
            >input{
                max-width: 76px;
                max-height: 72px;
                transform: translateX(28px);
                outline: none;
                &:hover{
                    transform: scale(1.1) translateX(28px);
                    transition: 0.4s;
                }
            }
        }
    }
    &__results{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        &__heading{
            margin: 0;
            font-size: 30px;
            color: white;
            background: #4F443B;
            border-radius: 25px;
            padding: 12px 44px;
            max-width: 245px;
            width: 245px;
            margin-bottom: 20px;
        }
        &__container{
            width: 415px;
            height: fit-content;
            border: 1px solid black;
            background: #FFFEFE;    
            border-radius: 3px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 10px 20px;
            >*{
                margin-bottom: 10px;
            }
            >*:last-child{
                margin-bottom: 0px;
            }
        }
    }
}

.results{
    &__item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__label{
            font-size: 18px;
            font-weight: 600;
        }
        &__value{
            font-size: 18px;
        }
    }
    &__items{
        width: 75%;
        >*{
            margin-bottom: 10px;
        }
        >*:last-child{
            margin-bottom: 0px;
        }
    }
    &__summary{
        &__label{
            color: #4F443B;
            font-weight: 600;
            font-size: 20px;
        }
        &__value{
            color: #4F443B;
            font-weight: 600;
            font-size: 20px;
        }
        &__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            background: #D7E4D1;
            border: 0.5px solid #C8C0C0;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 19px;
            padding: 10px;
            width: 90%;
            >*{
                margin-bottom: 10px;
            }
            >*:last-child{
                margin-bottom: 0px;
            }

            >#summary{
                display: flex;
                justify-content: space-between;
                width: 60%;
            }
        }
        &__progressbar{
            display: flex;
            width: 90%;
            >*{
                flex: 1;
                width: calc(100% / 9);
                height: 10px;
            }
        }
    }
}

.form-group{
    display: flex;
    align-items: center;
    &__part{
        display: flex;
        justify-content: space-between;
        width: 350px;
    }
}

#plastic{
    background: #ECA842;
}

#glass{
    background: #4E9F5B;
}

#paper{
    background: #72B1D4;
}

#clothes{
    background: #D3C652;
}

#accums{
    background: #B7739C;
}

#techn{
    background: #598487;
}

#metal{
    background: #C2997A;
}

#dangerous{
    background: #BA576F;
}

#other{
    background: #6255B6;
}