@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  font-family: Montserrat, sans-serif; }

@media (max-width: 400px) {
  main {
    padding: 40px 5vw; }

  .information {
    font-size: 16px;
    line-height: 18px;
    width: 90vw; }

  .register-form {
    max-width: 460px;
    width: 100%;
    padding: 30px 20px; }
  .register-form__group input[type="text"] {
    font-size: 16px; }
  .register-form__group__label {
    font-size: 20px; }
  .register-form__submit {
    width: 100%; }

  .street {
    width: 100%; }

  .phone__value {
    width: 100%; }

  .mail__value {
    width: 100%; }

  .street__label, .house__label, .building__label, .floor__label, .flat__label, .phone__label, .mail__label {
    font-size: 18px; }

  .grid-checkboxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); } }
@media (min-width: 400px) and (max-width: 767px) {
  main {
    padding: 40px 5vw; }

  .information {
    font-size: 16px;
    line-height: 18px;
    width: 90vw; }

  .register-form {
    max-width: 460px;
    width: 100%;
    padding: 30px 20px; }
  .register-form__group input[type="text"] {
    font-size: 16px; }
  .register-form__group__label {
    font-size: 20px; }
  .register-form__submit {
    width: 100%; }

  .street {
    width: 100%; }

  .phone__value {
    width: 100%; }

  .mail__value {
    width: 100%; }

  .street__label, .house__label, .building__label, .floor__label, .flat__label, .phone__label, .mail__label {
    font-size: 18px; }

  .grid-checkboxes {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); } }
@media (min-width: 768px) and (max-width: 1125px) {
  main {
    padding: 105px 40px 105px 40px; }

  .information {
    font-size: 22px;
    line-height: 27px;
    width: 60vw; }

  .register-form {
    width: 60vw;
    padding: 30px 40px; }
  .register-form__group input[type="text"] {
    font-size: 18px; }
  .register-form__group__label {
    font-size: 22px; }
  .register-form__submit {
    max-width: 200px;
    width: 200px; }

  .street {
    width: 70%; }

  .phone__value {
    max-width: 200px;
    width: 200px; }

  .mail__value {
    max-width: 200px;
    width: 200px; }

  .street__label, .house__label, .building__label, .floor__label, .flat__label, .phone__label, .mail__label {
    font-size: 20px; }

  .grid-checkboxes {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); } }
@media (min-width: 1125px) {
  main {
    padding: 105px 40px 105px 40px; }

  .information {
    font-size: 22px;
    line-height: 27px;
    width: 60vw; }

  .register-form {
    width: 40vw;
    padding: 30px 40px; }
  .register-form__group input[type="text"] {
    font-size: 18px; }
  .register-form__group__label {
    font-size: 22px; }
  .register-form__submit {
    max-width: 200px;
    width: 200px; }

  .street {
    width: 70%; }

  .phone__value {
    max-width: 200px;
    width: 200px; }

  .mail__value {
    max-width: 200px;
    width: 200px; }

  .street__label, .house__label, .building__label, .floor__label, .flat__label, .phone__label, .mail__label {
    font-size: 20px; }

  .grid-checkboxes {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); } }
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.information {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  text-align: center;
  color: #395348; }

.register-form {
  border: 1px solid #736565;
  border-radius: 7px; }
.register-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; }
.register-form__group input[type="text"] {
  height: 36px;
  border: 1px solid #423E3E;
  border-radius: 3px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  padding: 0px 7px; }
.register-form__group:last-child {
  margin-bottom: 0px;
  align-items: center; }
.register-form__group__label {
  margin-bottom: 10px; }
.register-form__submit {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: white;
  outline: none;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 7px;
  background: #90C7E7;
  padding: 4px 20px;
  transition: 0.3s; }
.register-form__submit:hover {
  background-color: white;
  border: 1px solid #90C7E7;
  color: #90C7E7;
  transition: color 0.1s, background-color 0.5s; }

.address__container, .contacts__container {
  display: flex;
  flex-direction: column; }
.address__container > *, .contacts__container > * {
  margin-bottom: 10px; }
.address__container > *:last-child, .contacts__container > *:last-child {
  margin-bottom: 0px; }

.street, .house, .building, .floor, .flat, .phone, .mail {
  display: flex;
  align-items: center; }
.street__label, .house__label, .building__label, .floor__label, .flat__label, .phone__label, .mail__label {
  margin-right: 0px; }

.street {
  display: flex; }
.street__value {
  width: 100%; }
.street__label {
  min-width: 80px; }

.house__label {
  min-width: 80px;
  margin-right: 0px; }

.phone__label {
  width: 110px;
  min-width: 110px;
  margin-right: 0px; }

.mail__label {
  width: 110px;
  min-width: 110px; }

.house__value, .building__value, .floor__value, .flat__value {
  text-align: center; }

.other {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-content: center;
  grid-gap: 10px; }
.other > div {
  justify-content: space-between; }
.other input {
  width: 60px; }

.grid-checkboxes {
  display: grid; }

.is-export__value label {
  margin-right: 25px; }
.is-export__value label:last-of-type {
  margin-right: 0px; }

/*# sourceMappingURL=companies.css.map */
