@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@media (max-width: 400px) {
  body {
    padding-top: 40px; }

  main {
    flex-direction: column;
    align-items: center;
    margin: 6vh 5vw; } }
@media (min-width: 400px) and (max-width: 768px) {
  body {
    padding-top: 40px; }

  main {
    flex-direction: column;
    align-items: center;
    margin: 6vh 5vw; } }
@media (min-width: 768px) and (max-width: 1125px) {
  body {
    padding-top: 100px; }

  main {
    padding-top: 55px;
    margin: 0 10vw 10vh;
    flex: 1; }

  header {
    max-height: 100px; } }
@media (min-width: 1125px) {
  body {
    padding-top: 100px; }

  main {
    margin: 0 15vw 10vh;
    padding-top: 55px;
    flex: 1; }

  header {
    max-height: 100px; } }
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Montserrat, sans-serif; }

body {
  display: flex;
  flex-direction: column; }

main {
  display: flex;
  flex-direction: column; }

.back-to-profile {
  margin-bottom: 15px; }
  .back-to-profile__ref {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2D2B2B;
    text-decoration: none; }
    .back-to-profile__ref:hover {
      color: #2D2B2B;
      text-decoration: none; }

.fio-container {
  display: flex;
  flex-direction: column;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 27px;
  line-height: 33px;
  color: #2D2B2B;
  margin-bottom: 20px; }
  .fio-container > .wrapper {
    display: flex;
    flex-direction: row; }
    .fio-container > .wrapper > * {
      margin-right: 5px; }
    .fio-container > .wrapper > *:last-child {
      margin-right: 0px; }

.account-container {
  display: flex; }
  .account-container__left {
    display: flex;
    flex-direction: column; }
  .account-container > * {
    margin-right: 75px; }
  .account-container > *:last-child {
    margin-right: 0px; }

.date-of-birth-container, .email-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; }
  .date-of-birth-container > *, .email-container > * {
    margin-bottom: 10px; }
  .date-of-birth-container > *:last-child, .email-container > *:last-child {
    margin-bottom: 0px; }
.date-of-birth__label, .email__label {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #363131; }
.date-of-birth__value, .email__value {
  background: rgba(204, 226, 209, 0.45);
  border-radius: 3px;
  padding: 10px 15px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  color: rgba(103, 117, 96, 0.5); }

.email__change {
  margin-bottom: 25px; }
  .email__change > a {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #5F8352; }
.email__get-email {
  display: flex;
  align-items: center; }
  .email__get-email > * {
    margin-right: 5px; }
  .email__get-email > *:last-child {
    margin-right: 0px; }
  .email__get-email input[type="checkbox"] {
    border: none; }
  .email__get-email label {
    margin-bottom: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #363131; }

.password-container {
  display: flex;
  flex-direction: column; }
  .password-container > * {
    margin-bottom: 10px; }
  .password-container > *:last-child {
    margin-bottom: 0px; }
  .password-container__heading {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #363131; }
  .password-container #password {
    display: flex;
    flex-direction: column; }
    .password-container #password > * {
      margin-bottom: 12px; }
    .password-container #password > *:last-child {
      margin-bottom: 0px; }
  .password-container__current, .password-container__new, .password-container__repeat {
    background: rgba(204, 226, 209, 0.45);
    border-radius: 3px;
    border: none;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: rgba(67, 74, 64, 0.5);
    padding: 5px 10px;
    height: 47px; }
  .password-container__repeat {
    margin-bottom: 16px !important; }
  .password-container__submit {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: white;
    outline: none;
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 7px;
    background-color: black;
    padding: 4px 20px;
    background: #7F9348;
    transition: color 0.1s ease-in-out, background-color 0.3s ease-in-out; }
    .password-container__submit:hover {
      background-color: white;
      border: 1px solid #7F9348;
      color: #7F9348; }

/*# sourceMappingURL=lk-accounts.css.map */
