@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$header__height: 105px;
$header__height__m: 40px;
$nav__color:#F6F8F4;
$nav__text-color: rgba(41, 47, 44, 0.7);
$nav__text-color__active: #395348;
$container__text-color: #25312C;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
}

@media (max-width: 359px){
    main{
        padding: $header__height__m 40px $header__height__m 40px;
        grid-template-areas: "nav"
                             "container";
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    .container{
        >p{
            font-size: 20px;
        }
    }
}

@media (min-width: 360px) and (max-width: 768px){
    main{
        padding: $header__height__m 40px $header__height__m 40px;
        grid-template-areas: "nav"
                             "container";
        grid-template-rows: auto;
        grid-gap: 20px;
    }
    nav{
        width: 100%;
        ul{
            width: 100%;
            >li{
                padding: 0 20px 0px 10px;
                width: 100%;
                >a{
                    display: flex;
                    width: 100%;
                }
            }
        }
    }
    .container{
        >p{
            font-size: 23px;
        }
    }
}

@media (min-width: 768px){
    main{
        padding: $header__height 120px $header__height 40px;
        grid-template-areas: "nav container";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
        grid-gap: 120px;
    }
    nav{
        width: 340px;
        max-height: 215px;
        ul{
            >li{
                padding: 0 60px 0px 40px;
            }
        }
    }
    .container{
        margin-top: 65px;
        >p{
            font-size: 28px;
        }
    }
}

main{
    display: grid;
}

nav{
    grid-area: nav;
    background-color: $nav__color;
    border-radius: 5px;
    margin-top: 32.5px;
    padding: 15px 0px;
    >ul{
        list-style: none;
        >li{
            margin-bottom: 12px;
            &:last-child{
                margin-bottom: 0px;
            }
            >a{
                font-size: 23px;
                color: $nav__text-color;
                text-decoration: none;
                &:hover{
                    font-weight: 600;
                    color: $nav__text-color__active;
                }
                &:focus{
                    font-weight: 600;
                    color: $nav__text-color__active;
                }
                &:visited{
                    font-weight: 600;
                    color: $nav__text-color__active;
                }
            }
        }
    }
}

.container{
    grid-area: container;
    >p{
        color: $container__text-color;
        margin-bottom: 40px;
        &:last-child{
            margin-bottom: 0px;
        }
    }
}

#current{
    font-weight: 600;
    color: $nav__text-color__active;
}
